/* Write your CSS here */
.reports-container {
  display: flex;
  justify-content: space-between;
  align-items: space-between;
  list-style-type: none;
}
.links {
  color: yellow;
  text-decoration: underline;
  font-size: 25px;
  margin: 15px;
}
